#content, #history {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#div-photo {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#icon-no-foto {
  background-color: white;
  color: #cccccc;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  font-size: 200px;
}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

#error {
  margin: 15px 0;
  font-size: 15px;
  letter-spacing: 0.08em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 60px);
  justify-content: space-between;
  padding: 0 30px;
}

#error mat-icon {
  cursor: pointer;
  color: #cccccc;
}

#error-image {
  color: #f44336;
  text-align: center;
}

#button-menu {
  margin-top: 140px;
}

#change-photo:hover {
  background-color: #673ab7;
}

#remove-photo:hover {
  background-color: #f44336;
}

#change-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 45px 30px;
  width: 430px;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.data p, #div-history p {
  text-align: center;
  vertical-align: center;
  margin: auto 0;
  font-size: 16px;
  letter-spacing: 0.08em;
}

.p-input-container, .icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
  justify-content: space-between;
}

.p-input-container {
  width: calc(100% - 82px);
}

.value {
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
}

.name {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #673ab7;
}

.icon-mail {
  cursor: pointer;
  color: #cccccc;
}

.void {
  width: 24px;
}

mat-form-field, input {
  max-width: 100%;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 10px;
  margin-top: 10px;
}

#div-history {
  margin: 35px 0 0 30px;
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#n-prenotazioni {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  text-align: left;
}

#clickable {
  cursor: text;
  -webkit-user-select: text;
}

#buttons-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: left;
  gap: 15px;
}

#container-final-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 55px;
  margin-bottom: 25px;
  gap: 30px;
}

#container-final-button p {
  color: black;
  font-size: 16px;
  letter-spacing: 0.08em;
}

#alerts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
  width: 100%;
}

.div-messages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.div-messages div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.div-messages div p {
  font-size: 16px;
  letter-spacing: 0.07em;
  margin-top: 0;
  margin-bottom: 0;
}

.div-messages > mat-icon:hover {
  cursor: pointer;
  color: #cccccc;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 50px);
  margin: 35px 25px;
}

#title {
  font-size: 22px;
  letter-spacing: 0.12em;
  color: #673ab7;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 15px 10%;
  width: 80%;
}

.notif {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #e7e7e7;
  gap: 8px;
}

.notif:hover {
  border: 2px solid #d5d5d5;
  box-shadow: 15px 21px 50px -3px rgba(0,0,0,0.1);
}

.notif div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.notif p {
  margin: 0;
}

.icon-toggle {
  color: #9b9b9b;
  cursor: pointer;
  display: none;
}

.done {
  color: #2ca62c;
}

.close {
  color: #f44336;
}

#message {
  color: gray;
  letter-spacing: 0.085em;
  font-size: 14px;
  margin: 0 0 50px 0;
  width: 100%;
  text-align: center;
}

mat-divider {
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
}

#back {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  font-size: 17px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 500px) {
  #change-data {
    margin: 45px 0;
    width: calc(100% - 20px);
    padding: 0 10px;
  }

  .icon-container {
    margin-left: 0;
  }

  .data p {
    font-size: 14px;
  }

  #div-history {
    margin-left: 10px;
    width: calc(100% - 20px);
  }

  .notif > p {
    display: none;
  }

  .notif {
    width: calc(100% - 60px);
    padding: 0 10px;
    margin: 0 10px;
  }

  .icon-toggle {
    display: block;
  }

  #notifications {
    margin-top: 0;
  }
}

@media screen and (max-width: 860px) {
  #notifications {
    width: 100%;
  }

  .notif {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 670px) {
  #notifications {
    width: 80%;
  }

  .notif {
    margin: unset;
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  #notifications {
    width: 100%;
  }

  .notif {
    margin: 0 10px;
    width: calc(100% - 20px);
  }
}
