<mat-icon *ngIf="width < 700" id="icon-menu" (click)="openMenu()">menu</mat-icon>

<div id="username">
  <mat-icon *ngIf="user.photo == null">account_circle</mat-icon>
  <img id="user-image" *ngIf="user.photo != null" [src]="user.photo">
  <p id="p-username" (click)="pages.page = 'account'">{{username}}</p>
</div>

<div id="div-name" *ngIf="width >= 700">
  <img id="logo" src="assets/logo.png">
  <p>Tucano</p>
</div>

<div id="void" *ngIf="width < 700"></div>

<p id="logout" (click)="logout()">Logout</p>
