app-navbar {
  width: 100%;
  height: 60px;
  background-color: #673ab7;
  color: #eaeaea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: row;
}

app-menu-fisso {
  height: 100%;
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
}

app-account-page, app-prenota-page, app-prenotazioni-page {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

mat-progress-bar {
  position: absolute;
  bottom: 0;
  width: calc(100% - 280px);
  left: 280px;
}


@media screen and (max-width: 700px) {
  app-menu-fisso {
    display: none;
  }

  mat-progress-bar {
    width: 100%;
    left: 0;
  }
}
