<div id="top-buttons">
    <button [id]="btn.page" mat-button color="primary" *ngFor="let btn of pages.getButtons()" [class]="btn.page == pages.page? 'selected': ''" (click)="this.pages.page = btn.page">
      <mat-icon>{{btn.icon}}</mat-icon>
      {{btn.text}}
      <div id="n-notif" *ngIf="btn.page == 'notifications' && history.notifications > 0">{{history.notifications}}</div>
    </button>
</div>

<div class="void"></div>

<div id="bottom-button">
  <button mat-button color="primary" id="logout" (click)="logout()"><mat-icon>logout</mat-icon>logout</button>
</div>
